table.list-product {
  width: 100%;
}

tr {
  &:not([mat-header-row]):hover {
    background: whitesmoke;
  }

  .button {
    cursor: pointer;
  }
  // & mat-icon.button {
  //   &:hover {
      
  //   }
  // }
}