<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Email address</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@example.com" #txtEmail/>
		</div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" (click)="passwordReset(txtEmail.value)">Şifremi sıfırla</button>
          </div>
	</div>
	<div class="col-3"></div>
</div>
