<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
<app-file-upload [options]="options"></app-file-upload>



<div class="image-content">
<mat-card class="product-image-card" *ngFor="let image of images">
  <mat-card-header>
    
  </mat-card-header>
  <img mat-card-image [src]="image.path" [alt]="image.fileName">
  <mat-card-content>
    <p>
      {{image.fileName}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon class="button" color="warn" (click)="deleteImage(image.id, $event)">delete</mat-icon>
  </mat-card-actions>
</mat-card>
</div>




</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>