<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput type="text" required placeholder="Product name" #Name/>
  <mat-hint>Hint</mat-hint>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Stock</mat-label>
    <input matInput type="number" required placeholder="Product stock Ex. 7" class="createProductStock" #Stock/>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput type="number" required placeholder="Product price Ex. 41.8" class="createProductPrice" #Price/>
    <!-- <span matPrefix>$&nbsp;</span> -->
    <mat-hint>Hint</mat-hint>
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>
    
  <button mat-stroked-button color="primary" (click)="create(Name,Stock,Price)">Create Product</button>
