<!-- adminin altındaki layout olduğu için ona göre linkler bildirilir -->
<!-- baştaki / ise origine kadar olan tüm pathi silip sadece admin yazar -->
<!-- linklerin çalışması için components.module.ts içine routermodule eklenmelidir sidebar onun içinde olduğu için -->
<mat-list role="list">
    <a mat-list-item role="listitem" routerLinkActive="active" routerLink="dashboard">
        <mat-icon color="primary" aria-hidden="true">dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item role="listitem" routerLinkActive="active" routerLink="customers">
        <mat-icon color="primary" aria-hidden="true" class="md-inactive">person</mat-icon>
        Customers
    </a>
    <a mat-list-item role="listitem" routerLinkActive="active" routerLink="products">
        <mat-icon color="primary" aria-hidden="true">category</mat-icon>
        Products
    </a>
    <a mat-list-item role="listitem" routerLinkActive="active" routerLink="orders">
        <mat-icon color="primary" aria-hidden="true">receipt_long</mat-icon>
        Orders            
    </a>

    <a mat-list-item role="listitem" routerLink="authorize-menu">
        <mat-icon color="accent" aria-hidden="true">security</mat-icon>
        Authorize Menu
    </a>
    
    <a mat-list-item role="listitem" routerLink="roles">
        <mat-icon color="accent" aria-hidden="true">security</mat-icon>
        Roles
    </a>

    <a mat-list-item role="listitem" routerLink="">
        <mat-icon color="accent" aria-hidden="true">home</mat-icon>
        Siteyi gör
    </a>
</mat-list>