<div class="container-xxl justify-content-center">
  <div class="row row-cols-auto mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="mb-3">
          <label for="nameSurname" class="form-label">Name Surname</label>
          <input
            formControlName="nameSurname"
            type="text"
            class="form-control"
            id="nameSurname"
            aria-describedby="nameSurnameHelp"
            placeholder="Name Surname"
            [ngClass]="{'is-invalid': submitted && component.nameSurname.errors}"
          />
          <!-- noPropertyAccessFromIndexSignature : false => yapınca üst kısım hata vermiyor (tsconfig.json içinde bulunuyor) -->
          <div id="nameSurnameHelp" class="form-text invalid-feedback" *ngIf="submitted && component.nameSurname.errors?.required">Please write your name</div>
          <div id="nameSurnameHelp" class="form-text invalid-feedback" *ngIf="submitted && (component.nameSurname.errors?.minlength || component.nameSurname.errors?.maxlength)">Name 3 - 50 character</div>
        </div>

        <div class="mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input
            formControlName="userName"
            type="text"
            class="form-control"
            id="userName"
            aria-describedby="userNameHelp"
            placeholder="User Name"
            [ngClass]="{'is-invalid': submitted && component.userName.errors}"
          />
          <div id="userNameHelp" class="form-text invalid-feedback" *ngIf="submitted && component.userName.errors?.required">Please write your username</div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Email"
            [ngClass]="{'is-invalid': submitted && component.email.errors}"
          />
          <div id="emailHelp" class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.required">Please write your email</div>
          <div id="emailHelp" class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.email">Please write your email correct</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            [ngClass]="{'is-invalid': submitted && component.password.errors}"
          />
        </div>

        <div class="mb-3">
          <label for="passwordConfirm" class="form-label">Confirm Password</label>
          <input
            formControlName="passwordConfirm"
            type="password"
            class="form-control"
            id="passwordConfirm"
            aria-describedby="passwordConfirmHelp"
            placeholder="Confirm Password"
            [ngClass]="{'is-invalid': submitted && component.passwordConfirm.errors}"
          />
          <div *ngIf="submitted && form.hasError('notSame')">Please check your password</div>
        </div>

        <button type="submit" class="btn btn-primary p-2">Register</button>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>
